<table class="table table-sm table-bordered">
    <thead>
        <tr class="yellow">
            <th>Opponent</th>
            <th>Last Action</th>
            <th>Match Record (all time)</th>
            <th>Total Games</th>
            <th>Actions</th>
        </tr>
    </thead>
    <% matches.each do |m|%>
        <tr><a href="<%=match_path(m)%>">
            <td><%=m.opponent_name%></td>
            <td><%=m.updated_at%></td>
            <td><%=m.record%></td>
            <td><%=m.game_count%></td>
            <td><a href="<%=match_path(m)%>" class="btn btn-warning circle-sm">V</a><p class="circle-helper">View Match</p></a></td>
        </tr>
    <%end%>
    
</table>
