<h3>Matches</h3>
<p><%=@user_most_matches.name%> has the most matches with <%=@user_most_matches.matches.count%></p>
<p><%=@user_fewest_matches.name%> has the fewest matches with <%=@user_fewest_matches.matches.count%></p>


<h3>Games</h3>
<p><%=@user_most_games.name%> has the most games with <%=@user_most_games.games.count%></p>
<p><%=@user_fewest_games.name%> has the fewest  with <%=@user_fewest_games.games.count%></p>

