<h2>Welcome, <%=@user.name%></h2>


<%= link_to "Log Out", logout_path%>
<%= link_to "Create New Match", new_match_path%>
<%= link_to "Create New Game", new_game_path%>

<h3>Make a New Game!</h3>
<%=form_for :game, url: user_games_path(@user) do |f|%>
    <%=collection_select :game, :match_id, @user.matches, "id", "opponent_name", prompt:true%>
    <%=select :game, :chal_throw, options_for_select([["Rock","r"],["Paper","p"],["Scissors","s"]]), {include_blank: "Select a throw!"}%>
    <%=f.submit "Start Game!"%>
<%end%>

<h3>My Matches: </h3>
<%= render partial: "user_matches", locals:{matches: @user.matches}%>
<%=link_to "View My Matches", user_matches_path(@user)%>

<h3>My Stats:</h3>
<p><b>Record (All-time): </b>54-42-23 (### Total Games)</p>
<p><b>Current Streak: </b>+3</p>
<p><b>Longest Streak: </b>+8</p>
<p><b>Favorite Throw:</b>Rock (46% of throws)</p>


