<h2>Welcome, <%=@user.name%></h2>


<%= link_to "Log Out", logout_path%>
<%= link_to "Create New Match", new_match_path%>

<h3>Active Games: </h3>
<table>
    <tr>
        <th>Opponent</th>
        <th>Started</th>
        <th>Status</th>
    </tr>
    <% @games.each do |g|%>
        <tr>
            <td><%=g.match.opponent.name%> </td>
            <td><%=g.updated_at%></td>
            <td><%=g.status%></td>
        </tr>
    <%end%>
</table>

<h3>My Stats:</h3>
<p><b>Record (All-time): </b>54-42-23 (### Total Games)</p>
<p><b>Current Streak: </b>+3</p>
<p><b>Longest Streak: </b>+8</p>
<p><b>Favorite Throw:</b>Rock (46% of throws)</p>


