<div class="row">
   <div class="med-grey panel">
    <h2><%=@user.name%></h2>
    <p>Ru-Rank: <%=@user.points_rank%> | Throw Master</p>
    <div class="circle-group row">
        <div>
            <a href="<%=logout_path%>" class="btn btn-warning circle">L</a>
            <p class="circle-helper">Logout</p>
        </div>
        <div>
            <a href="<%=new_game_path%>" class="btn btn-primary circle">N</a>
            <p class="circle-helper">New Game</p>
        </div>
    </div>
</div> 
    
</div>






<h3>Challenge a New Opponent</h3>
<% if @match.errors.any? %>
<div class="error_explanation">
    <p><%=pluralize(@match.errors.count, "error")%> prohibited this match from being created: </p>
    <ul>
        <% @match.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </ul>
</div>
<%end%>
<%=form_for @match, url: user_matches_path(@user) do |f|%>
    <%=collection_select :match, :opponent_id, User.all.select {|u|  u.id!=@user.id }, "id", "name", prompt:true%>
    <%=f.submit "Challenge Opponent!"%>
<%end%>

<div class="row">
    <div class="col-md-12 med-grey panel panel-left">
        <h3>Active Games: </h3>
        <%= render partial: "users/user_games", locals:{games: @user.active_games}%>
    </div>
</div>

<div class="row">
    <div class="col-md-12 med-grey panel panel-left">
        <h3>My Matches: </h3>
        <%= render partial: "users/user_matches", locals:{matches: @user.matches}%>
        <%=link_to "View My Matches", user_matches_path(@user)%>
    </div>
</div>

<div class="row">
    <div class="col-md-12 med-grey panel panel-left">
        <h3>My Stats:</h3>
        <div>
            <%if @user.games.count>0%>
                <p><b>Record (All-time): </b><%=@user.record%></p>
                <p><b>Win Percentage: </b><%=@user.win_percentage%></p>
                <p><b>Favorite Opponent: </b><%=@user.favorite_opponent%></p>
                <p><b>Overall Rank: </b><%=@user.points_rank%></p>
                <p><b>Favorite Throw: </b><%=@user.favorite_throw%></p>
            <%else%>
                <p>No games played yet!</p>
            <%end%>
        </div>
        
    </div>
</div>





