<div class="row row-eq-height">
    
        <div class="med-grey panel col-md-4">
            <h2><%=@user.name%></h2>
            <p>Ru-Rank: <%=@user.points_rank%> | Throw Master</p>
            <div class="circle-group row">
                <div>
                    <a href="<%=logout_path%>" class="btn btn-danger circle">L</a>
                    <p class="circle-helper">Logout</p>
                </div>
                <div>
                    <a class="btn btn-primary circle"  data-toggle="collapse" href="#user_new_match_form">M</a>
                    <p class="circle-helper">New Match</p>
                </div>
                <div>
                    <a href="<%=new_game_path%>" class="btn btn-primary circle">N</a>
                    <p class="circle-helper">New Game</p>
                </div>
            </div>
        </div> 
        
        
        <div id="show-wip" class="panel med-grey col-md-8">
            <div id="main-show"></div>
            
        </div>
    
</div>




<div class="row row-eq-height">
    <div id="leaderboard" class="panel col-md-6 med-grey">
        <h6><button id='leaderboard-header' class="btn btn-primary circle" data-toggle="collapse" data-target="#leaderboard-body">Leaderboard</button></h6>
        <div id="leaderboard-body" class="collapse">
            <table id="leaderboard-table"></table>
        </div>
    </div>
    <div class="panel med-grey col-md-3">
        <h6><button id='matchboard-header' class="btn btn-primary circle" data-toggle="collapse" data-target="#matchboard-body">My Matches</button></h6>
        <div id="matchboard-body" class="collapse">
        </div>
    </div>
    <div class="col-md-3 med-grey panel panel-left">
        <h3>My Stats:</h3>
        <div>
            <%if @user.games.count>0%>
                <p><b>Record (All-time): </b><%=@user.record%></p>
                <p><b>Win Percentage: </b><%=@user.win_percentage%></p>
                <p><b>Favorite Opponent: </b><%=@user.favorite_opponent%></p>
                <p><b>Overall Rank: </b><%=@user.points_rank%></p>
                <p><b>Favorite Throw: </b><%=@user.favorite_throw%></p>
            <%else%>
                <p>No games played yet!</p>
            <%end%>
        </div>
        
    </div>
</div>

<div class="row">
    
</div>



<script id="show-game-template" type="text/x-handlebars-template">
  <div id="game-details">
        <h3>Game Details: {{id}}</h3>
        <table class="table">
            <tr><td><img src="{{match.challenger.image}}" class="avatar"/></td><td></td><td><img src="{{match.opponent.image}}" class="avatar"/></td></tr>
            <tr><td>{{match.challenger.name}}</td>
            <td>
                <div id="throw-buttons" class="collapse">
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "r"})%>
                        <%=f.submit "R", class: "btn btn-primary circle-sm"%>
                    <%end%>
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "p"})%>
                        <%=f.submit "P", class: "btn btn-primary circle-sm"%>
                    <%end%>
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "s"})%>
                        <%=f.submit "S", class: "btn btn-primary circle-sm"%>
                    <%end%>
                </div>
            </td>
            <td>{{match.opponent.name}}</td></tr>
            <tr><td>Your Throw: {{chal_throw}}</td><td></td><td>Opponent Throw: ?</td></tr>
        </table>
        <a href="#" id="show-prev" class="btn btn-default circle-sm"><</a>
        <a href="#" id="show-all" class="btn btn-default circle-sm">^</a>
        <a href="#" id="show-next" class="btn btn-default circle-sm">></a>
    </div>
</script>


<script id="show-match-template" type="text/x-handlebars-template">
    <div id="match-details">
        <h3>Match Details</h3>
        <table class="table">
            <tr><td><img src="{{challenger.image}}" class="avatar"/></td><td>vs</td><td><img src="{{opponent.image}}" class="avatar"/></td></tr>
            <tr><td>{{challenger.name}}</td>
            <td>
                <a id="new-game-btn" data-toggle="collapse" data-target="#throw-buttons" class="btn btn-success circle-sm">N</a><p class="circle-helper">New Game<p>
                <div id="throw-buttons" class="collapse">
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "r"})%>
                        <%=hidden_field("game", :match_id, {value: "{{id}}" })%>
                        <%=f.submit "R", class: "btn btn-primary circle-sm"%>
                    <%end%>
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "p"})%>
                        <%=hidden_field("game", :match_id, {value: "{{id}}" })%>
                        <%=f.submit "P", class: "btn btn-primary circle-sm"%>
                    <%end%>
                    <%=form_for "game"  do |f|%>
                        <%=hidden_field("game", :chal_throw, {value: "s"})%>
                        <%=hidden_field("game", :match_id, {value: "{{id}}" })%>
                        <%=f.submit "S", class: "btn btn-primary circle-sm"%>
                    <%end%>
                </div>
            </td>
            <td>{{opponent.name}}</td></tr>
            <tr><td id="match-report"></td></tr>
        </table>
        <a href="#" id="show-prev" class="btn btn-default circle-sm"><</a>
        <a href="#" id="show-all" class="btn btn-default circle-sm">^</a>
        <a href="#" id="show-next" class="btn btn-default circle-sm">></a>
    </div>
</script>










