<div class="row">
    <div class="med-grey panel">
        <h2><%=@user.name%></h2>
        <p>Ru-Rank: <%=@user.points_rank%> | Throw Master</p>
        <div class="circle-group row">
            <div>
                <a href="<%=logout_path%>" class="btn btn-danger circle">L</a>
                <p class="circle-helper">Logout</p>
            </div>
            <div>
                <a class="btn btn-primary circle"  data-toggle="collapse" href="#user_new_match_form">M</a>
                <p class="circle-helper">New Match</p>
            </div>
            <div>
                <a href="<%=new_game_path%>" class="btn btn-primary circle">N</a>
                <p class="circle-helper">New Game</p>
            </div>
        </div>
    </div> 
</div>

<div class='row'>
    <div id="show-wip" class="panel med-grey">
        <div id="main-show"></div>
        
    </div>
</div>


<div class="row">
    <div id="leaderboard" class="panel col-md-6 med-grey">
        <h6><button id='leaderboard-header' class="btn btn-primary circle" data-toggle="collapse" data-target="#leaderboard-body">Leaderboard</button></h6>
        <div id="leaderboard-body" class="collapse">
            <table id="leaderboard-table"></table>
        </div>
    </div>
    <div class="panel med-grey col-md-3">
        <h6><button id='matchboard-header' class="btn btn-primary circle" data-toggle="collapse" data-target="#matchboard-body">My Matches</button></h6>
        <div id="matchboard-body" class="collapse">
        </div>
    </div>
    <div class="col-md-3 med-grey panel panel-left">
        <h3>My Stats:</h3>
        <div>
            <%if @user.games.count>0%>
                <p><b>Record (All-time): </b><%=@user.record%></p>
                <p><b>Win Percentage: </b><%=@user.win_percentage%></p>
                <p><b>Favorite Opponent: </b><%=@user.favorite_opponent%></p>
                <p><b>Overall Rank: </b><%=@user.points_rank%></p>
                <p><b>Favorite Throw: </b><%=@user.favorite_throw%></p>
            <%else%>
                <p>No games played yet!</p>
            <%end%>
        </div>
        
    </div>
</div>

<div class="row">
    
</div>



<script id="show-game-template" type="text/x-handlebars-template">
  <div id="game-deets">
    <p>{{id}}</p>
    <p>Challenger Throw: {{chal_throw}}</p>
    <p>Status: {{status}}</p>
  </div>
</script>


<script id="show-match-template" type="text/x-handlebars-template">
    <div id="match-details">
        <h3>Match Details</h3>
        <table class="table">
            <tr><td><img src="{{challenger.image}}" class="avatar"/></td><td>vs</td><td><img src="{{opponent.image}}" class="avatar"/></td></tr>
            <tr><td>{{challenger.name}}</td><td></td><td>{{opponent.name}}</td></tr>
            <tr><td>Games Played: {{game_count}}</td><td>Record: {{record}}</td><td></td>
        </table>
        <a href="#" id="show-prev" class="btn btn-default circle-sm"><</a>
        <a href="#" id="show-all" class="btn btn-default circle-sm">^</a>
        <a href="#" id="show-next" class="btn btn-default circle-sm">></a>
    </div>
</script>







