

<div class="top-panel panel med-grey">
    <h1><%=link_to @challenger.name, user_path(@challenger)%> vs. <%=link_to @opponent.name, user_path(@opponent)%></h1>
    <p>Total Games: <%=@match.game_count%></p>
</div>
<div class="panel med-grey">
    <h3>Active Games: </h3>
    <% if !@active_games.nil? %>
        <%= render partial: "games/games_table", locals: {games: @active_games}%>
    <%else%>
        <p>No Active Games</p>
    <%end%>
</div>

<div class="panel med-grey">
    <h3>All Games: </h3>
    <%if !@all_games.nil?%>
        <%= render partial: "games/games_table", locals: {games: @all_games}%>
    <%else%>
        <p>No Active Games</p>    
    <%end%>

    
</div>





<%=form_tag match_path(@match), method: "delete" do%>
    <%= submit_tag "Delete this Match"%>
<%end%>