<!DOCTYPE html>
<html>
  <head>
    <title>RuShambo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  </head>

  <body>
    <nav class="navbar navbar-dark" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%=root_path%>">RU | SHAM | BO</a>
      </div>
    </nav>
    <div class="container container-fluid container-centered">
      <%= yield %>
    
      </div>
  </body>
</html>
